:root {
  --surface: #181617;
  --surface-variant: #4b5563;
  --on-surface: #edece4;
  --on-surface-variant: #b6babe;
  --accent: #893dd1;
  --gap-sm: 1em;
  --gap-md: 2em;
  --gap-lg: 3em;
}

// Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin-block-end: 0;
}

ul,
ol {
  &[role="list"] {
    list-style: none;
  }
}

body {
  min-height: 100dvh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;

  &:first-child {
    margin-block-start: 0;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a:active,
a:visited {
  color: inherit;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

// Typography and layout styles
body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  background-color: var(--surface);
  color: var(--on-surface);
}

main {
  display: grid;
  grid-template: "aside" "navbar" "content";
  border: 1px solid var(--surface-variant);
  border-radius: var(--gap-sm);
  max-width: 1200px;
  margin-inline: auto;

  > aside {
    grid-area: aside;
    padding: var(--gap-md);
    border-bottom: 1px solid var(--surface-variant);

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;      
    }

    p {
      color: var(--on-surface-variant);
    }
  }

  > article {
    grid-area: content;
    padding: var(--gap-md);
  }

  > nav {
    grid-area: navbar;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template:
      "aside navbar" min-content
      "aside content" 1fr / minmax(200px, 25%) 1fr;

    > aside {
      border-right: 1px solid var(--surface-variant);
      border-bottom: none;
    }
  }
}

.text-center {
  text-align: center;
}

nav {
  border-bottom: 1px solid var(--surface-variant);
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding: var(--gap-sm) var(--gap-md);
      border-right: 1px solid var(--surface-variant);
      text-decoration: none;
      display: block;
      transition: color 0.3s ease;

      &:hover {
        transition: color 0.3s ease;
        color: var(--accent);
      }
    }

    .active {
      outline: 2px solid var(--accent);
    }
  }
}

h1,
h3,
h4,
strong {
  color: var(--accent);
}
