:root {
  --under-surface: #181617;
  --surface: #11182780;
  --surface-on-surface: #1f2937;
  --surface-on-surface-variant: #4b5563;
  --on-surface: #edece4;
  --on-surface-variant: #b6babe;
  --primary: #4af5de;
  --secondary: #0f8;
  --gap-xs: 0.5em;
  --gap-sm: 1em;
  --gap-md: 1.5em;
  --gap-lg: 2em;
  --gap-xl: 3em;
  --fs-sm: 0.875rem;
  --fs-normal: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
}

// #region Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin-block-end: 0;
}

ul,
ol {
  &[role="list"] {
    list-style: none;
  }
}

body {
  min-height: 100dvh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;

  &:first-child {
    margin-block-start: 0;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

hr {
  border: 0;
  border-top: 1px solid var(--surface-on-surface-variant);
  margin-block: var(--gap-lg);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a:active,
a:visited {
  color: inherit;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.text-italic {
  font-style: italic;
}

.fs-sm {
  font-size: var(--fs-sm);
}
// #endregion Reset and base styles

// Typography and layout styles
body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  background-color: var(--under-surface);
  color: var(--on-surface);
}

main {
  display: grid;
  grid-template: "aside" "navbar" "content";
  border: 1px solid var(--surface-on-surface-variant);
  border-radius: var(--gap-sm);
  max-width: 1200px;
  margin-inline: auto;
  background-color: var(--surface);

  > aside {
    grid-area: aside;
    padding: var(--gap-md);
    border-bottom: 1px solid var(--surface-on-surface-variant);

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    p {
      color: var(--on-surface-variant);
    }

    a {
      text-decoration-color: var(--primary);
    }
  }

  > article {
    grid-area: content;
    padding: var(--gap-md);
  }

  > nav {
    grid-area: navbar;
    overflow-x: auto;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template:
      "aside navbar" min-content
      "aside content" 1fr / minmax(200px, 25%) 1fr;

    > aside {
      border-right: 1px solid var(--surface-on-surface-variant);
      border-bottom: none;
    }
  }
}

.text-center {
  text-align: center;
}

nav {
  border-bottom: 1px solid var(--surface-on-surface-variant);
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding: var(--gap-sm) var(--gap-md);
      border-bottom: 0 solid transparent;
      border-right: 1px solid var(--surface-on-surface-variant);
      text-decoration: none;
      display: block;
      transition: border-bottom 0.3s ease, color 0.3s ease;

      &:hover {
        transition: color 0.3s ease;
        color: var(--primary);
      }
    }

    .active {
      transition: border-bottom 0.3s ease;
      border-bottom: 2px solid var(--primary);
      background-color: var(--surface-on-surface);
    }
  }
}

h1,
h3,
h4,
strong {
  color: var(--primary);
}

article {
  h1 {
    font-size: var(--fs-xl);
  }

  h2 {
    color: var(--secondary);
    font-size: var(--fs-lg);
    margin-bottom: var(--gap-md);
    border-bottom: 1px solid var(--surface-on-surface-variant);
    padding-bottom: var(--gap-xs);
  }

  p + h2 {
    margin-top: var(--gap-lg);
  }
}

.blog-post > picture {
  margin: 0 calc(var(--gap-md) * -1) var(--gap-md);
  max-width: max-content;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  padding-left: 0;

  a {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    text-decoration: none;
    transition: color 0.3s ease;

    svg {
      transition: color 0.3s ease;
      color: rgb(var(--hover-color));
    }

    &:hover {
      transition: color 0.3s ease;
      color: rgba(var(--hover-color), 0.9);

      svg {
        transition: color 0.3s ease;
        color: rgba(var(--hover-color), 0.9);
      }
    }
  }
}

.command {
  color: var(--secondary);
  margin-bottom: var(--gap-md);

  &:first-child {
    margin-top: 0;
  }
}

.list {
  list-style: none;
  padding-inline: 0;
  margin-top: var(--gap-lg);
  margin-left: var(--gap-xs);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  > li {
    border-left: 3px solid var(--surface-on-surface-variant);
    padding-left: var(--gap-md);
  }

  &--title {
    font-weight: bold;
    
    &__secondary {
      color: var(--on-surface);
    }
  }

  &--subtitle {
    font-size: var(--fs-sm);
    color: var(--on-surface-variant);
    margin-top: var(--gap-xs);
    
    &__secondary {
      color: var(--secondary);

    }
  }

  &--role {
    color: var(--on-surface);
    margin-top: var(--gap-xs);
    font-weight: bold;
    font-size: var(--fs-lg);
  }

  &--inline {
    list-style: none;
    padding-inline: 0;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-xs);

    &-item {
      background-color: var(--surface-on-surface);
      padding: var(--gap-xs) var(--gap-sm);
      border-radius: var(--gap-xs);
      color: var(--on-surface-variant);
      font-size: var(--fs-sm);
      transition: color 0.3s ease;

      &:hover {
        color: var(--primary);
        transition: color 0.3s ease;
      }
    }
  }

  &--topic {
    color: var(--secondary);
    font-size: var(--fs-md);
    margin-block: var(--gap-sm) var(--gap-xs);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.the-end {
  animation: fadeIn 0.5s ease-in-out infinite alternate;
}
