---
import Aside from "@/components/Aside.astro";
import Head from "@/components/Head.astro";
import Navbar from "@/components/Navbar.astro";
import { getCollection, render, type CollectionEntry } from "astro:content";
import { ClientRouter } from "astro:transitions";

export async function getStaticPaths() {
  const tabs = await getCollection("tabs");
  return tabs
    .filter((tab) => !!tab.data.order)
    .map((tab) => ({
      params: { slug: tab.id },
      props: tab,
    }));
}

type Props = CollectionEntry<"tabs">;

const tab = Astro.props;
const { Content } = await render(tab);
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={tab.data.title} description={tab.data.description} />
    <ClientRouter />
  </head>
  <body>
    <main>
      <Navbar />
      <article>
        <Content />

        <pre class="command"><code>$ <span class="the-end">|</span></code></pre>
      </article>
      <Aside />
    </main>
  </body>
</html>
