---
import Aside from "@/components/Aside.astro";
import Head from "@/components/Head.astro";
import Navbar from "@/components/Navbar.astro";
import { SITE_DESCRIPTION, SITE_TITLE_HERO } from "@/consts";
import { getFirstTab } from "@/utils/tabs.helper";
import { render } from "astro:content";
import { ClientRouter } from "astro:transitions";

const { Content } = await render(await getFirstTab());
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE_HERO} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <main>
      <Navbar />
      <article>
        <Content />

        <pre class="command"><code>$ <span class="the-end">|</span></code></pre>
      </article>
      <Aside />
    </main>
  </body>
</html>
