---
import { render } from "astro:content";
import { ClientRouter } from "astro:transitions";
import Aside from "../components/Aside.astro";
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getFirstTab } from "../utils/tabs.helper";

const { Content } = await render(await getFirstTab());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <main>
      <Navbar />
      <article>
        <Content />
      </article>
      <Aside />
    </main>
  </body>
</html>
