---
import { getCollection } from "astro:content";

const tabs = await getCollection("tabs");
tabs.sort((a, b) => a.data.order - b.data.order);
---

<nav>
  <ul>
    {
      tabs.map((tab, index) => {
        const url = `/${index ? tab.id : ""}`;

        let isActive = "";
        if (
          (index === 0 && Astro.url.pathname === "/") ||
          (index > 0 && Astro.url.pathname.startsWith(url))
        )
          isActive = "active";

        return (
          <li class={isActive}>
            <a href={url}>{tab.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
